.loading,
.error {
  font-size: 2rem;
  text-align: center;
  margin-top: 40vh;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
}
