@font-face {
  font-family: "Momo Regular";
  src: url("src/assets/MomoTrustSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.wrapper {
  min-height: 90vh;
  font-family: "Momo Regular";
  display: flex;
  flex-direction: column;
}

.cardGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.heading {
  text-align: center;
  font-size: 2rem;
}
