.card {
  width: 200px;
  border: 1px solid;
  display: grid;
  grid-template-rows: auto 1fr auto auto auto;
  justify-items: center;
  padding: 1rem;
  border-radius: 1rem;
}

.img {
  max-height: 100px;
  max-width: 150px;
  margin-top: auto;
  margin-bottom: auto;
}

.itemTitle {
  font-size: 1.5rem;
  text-align: center;
  max-height: 1lh;
  overflow: hidden;
  margin: 0;
  margin-bottom: 1rem;
}

.itemAmount {
  margin: 0.5rem;
  width: 2rem;
  text-align: center;
}

.itemPrice {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 1rem;
}
