@font-face {
  font-family: "Momo Regular";
  src: url("src/assets/MomoTrustSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Momo Bold";
  src: url("src/assets/MomoTrustDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  font-family: "Momo Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 4rem;
  background-color: transparent;
  min-height: 90vh;
}

.heading {
  font-size: 2.5rem;
}

.para {
  font-size: 1.8rem;
  margin: 0;
}
