@font-face {
    font-family: 'Momo Trust Display';
    src: url('MomoTrustDisplay-Regular.woff2') format('woff2'),
        url('MomoTrustDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Momo Trust Sans';
    src: url('MomoTrustSans-Regular.woff2') format('woff2'),
        url('MomoTrustSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

