.main {
  transition: background-color 0.6s ease;
  min-height: 90vh;
  background-image: url("src/assets/bg.jpg");
}

.bgImage {
  background-color: rgba(255, 255, 255, 0);
  background-blend-mode: lighten;
}

.bgWhite {
  background-color: rgba(255, 255, 255, 1);
  background-blend-mode: lighten;
}
