.main {
  min-height: 90vh;
}

.bgImage {
  background-image: url("src/assets/bg.jpg");
  background-color: rgba(255, 255, 255, 0);
}

.bgWhite {
  background-color: rgba(255, 255, 255, 1);
  background-blend-mode: lighten;
}
