@font-face {
  font-family: "Momo Regular";
  src: url("/MomoTrustSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.main {
  min-height: 90vh;
}

.bgImage {
  background-image: url("/bg.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
}

.bgWhite {
  background-color: rgba(255, 255, 255, 1);
  background-blend-mode: lighten;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-height: 5vh;
}

footer > p {
  margin: 0;
  font-size: 1rem;
  font-family: "Momo Regular";
}
